body {
    background-size: cover;
    overflow: hidden;
}

#content {
    position: relative;
    width: 100%;
    height: 600px;
}

#shark, #turtle, #fish {
    position: absolute;
}

/* Cá mập */
#shark {
    left: 100px; top: 400px;
    animation: SharkMove 10s linear infinite;
}

@keyframes SharkMove {
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 400px;}
    40% {left: 500px; top: 300px;}
    60% {left: 700px; top: 200px;}
    80% {left: 500px; top: 300px;}
    100% {left: 100px; top: 400px;} 
}


/* Cá nhỏ */
#fish {
    left: 0; top: 200px;
    animation: FishMove 8s linear infinite;
}

@keyframes FishMove {
    0% {left: 0;}
    50% {left: 900px;}
    100% {left: 0;}
}
